:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: #F8FAFA;
    --entry: #F8FAFA;
    --primary: #1e274b;
    --secondary: #3f4f65;
    --tertiary: #e0af42;
    --gray: #3f4f65;
    --content: #1e274b;
    --code-block-bg: #1e274b;
    --code-bg: #F8FAFA;
    --border: #eadbb8;
    --darkcolor: #c27617;
    --lightcolor: #f1dca0;
    --semibold: 500;
    --homesize: 18px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 12px;
    --lineheight: 1.5;
    --lineclamp: 8;
    --marginleft: 26px;
}

.dark {
    --theme: #1e274b;
    --entry: #263056;
    --primary: #fffdf8;
    --secondary: #d6d0c4;
    --tertiary: #e0af42;
    --gray: #d6d0c4;
    --content: #fffdf8;
    --code-block-bg: #151b35;
    --code-bg: #263056;
    --border: #3f4f65;
    --darkcolor: #e0af42;
    --lightcolor: #3f4f65;
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
