@font-face {
    font-family: 'Crimson Pro';
    src: url('/fonts/CrimsonPro-Regular.woff2') format('woff2'),
         url('/fonts/CrimsonPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: 'Crimson Pro', 'Noto Sans Mono', 'Microsoft YaHei', serif;
}
/* 根据需要把不同粗细、斜体等都定义好 */
