@font-face {
    font-family: 'Crimson Pro';
    src: url('/fonts/crimson-pro/CrimsonPro-Regular.woff2') format('woff2'),
         url('/fonts/crimson-pro/CrimsonPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('/fonts/crimson-pro/CrimsonPro-Bold.woff2') format('woff2'),
         url('/fonts/crimson-pro/CrimsonPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Crimson Pro', 'Noto Sans Mono', 'Microsoft YaHei', serif;
}
/* 根据需要把不同粗细、斜体等都定义好 */
